<% provide(:title, 'Coffee Reviews') %>
<h1>Coffee Reviews</h1>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
<% for micropost in @microposts %>
        <div class='task'>
            <strong> <%= micropost.content %> </strong>
        </div>
      <% end %>
       </tr>       
  </tbody>
</table>
