<% provide(:title, 'Coffee Reviews') %>




<div class="row">
	<div class="col-md-offset-5">
		<h1>Coffee Reviews</h1>
	</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   
<% for micropost in @microposts %>
        <div class='task'>
            <p> <%= micropost.content %> </p>
        </div>
      <% end %>
    </div>
</div>

