<% provide(:title, 'Coffee Reviews') %>





<h1 class="text-center"> Coffee Reviews</h1>
<div class="container">	
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   
<% for micropost in @microposts %>
        <div class='task'>
            <p> <%= micropost.content %> </p>
        </div>
      <% end %>
    </div>
</div>


